<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" type="text/css" herf="views/style.css">
  </head>
  <body>
  <p style= "color blue";>this is the product:</p>
  <h1><%=@answer%></h1>
  </body>
</html>